html, body  {
    margin: 0;
    padding: 0;
    background-image: url("img/table.png");
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

#new-deck {
    width: 120px;
    height: 40px;
    margin-top: 5px;
    /* min-height: 10vh; */
}

#remaining{
    margin-top: 15px;
}


button.draw {
    font-size: 1.2em;
    padding: 5px;
    align-self: stretch;
}

button.draw {
    font-size: 1.2em;
    padding: 5px;
    align-self: stretch;
    margin-top: 60px;
    min-height: 10vh;
}

div.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 10px;
}

img.card {
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    justify-content: center;
}

.top > p {
    margin: 0;
    margin-left: 10px;
}

button:disabled {
    cursor: not-allowed;
}

h2 {
    margin: 30px;
}


/* ===== SMALL MOBILE (Galaxy Fold, very small phones) ===== */
@media (max-width: 320px) {
    div.card-slot {
        height: 70px;
        width: calc(70px * 5 / 7);
    }

    button.draw {
        font-size: .9em;
        min-height: 45px;
    }

    .deck-btn{
        width: 90px;
        height: 100px;
    }
}

/* ===== iPhone SE / Small phones (360–375px) ===== */
@media (min-width: 350px) and (max-width: 375px) {
    div.card-slot {
        height: 85px;
        width: calc(85px * 5 / 7);
    }
    
    button.draw {
        min-height: 55px;
    }

    button.deck-btn{
        width: 90px;
        height: 130px;
    }
}

/* ===== iPhone 12/13 Pro / Pixel 5 (380–393px) ===== */
@media (min-width: 380px) and (max-width: 393px) {
    div.card-slot {
        height: 95px;
        width: calc(95px * 5 / 7);
    }


    button.deck-btn{
        width: 90px;
        height: 130px;
    }
}

/* ===== iPhone XR / Pixel 7 / Samsung A52 (400–414px) ===== */
@media (min-width: 394px) and (max-width: 414px) {
    div.card-slot {
        height: 105px;
        width: calc(105px * 5 / 7);
    }
    
    button.draw {
        min-height: 65px;
    }


    button.deck-btn{
        width: 90px;
        height: 130px;
    }
}

/* ===== Samsung Galaxy S / Large Phones (415–480px) ===== */
@media (min-width: 415px) and (max-width: 480px) {
    div.card-slot {
        height: 115px;
        width: calc(115px * 5 / 7);
    }


    button.deck-btn{
        width: 90px;
        height: 130px;
    }
}

/* ===== Tablets (iPad Mini/Air) ===== */
@media (min-width: 481px) and (max-width: 820px) {
    div.card-slot {
        height: 130px;
        width: calc(130px * 5 / 7);
    }

    button.draw {
        min-height: 70px;
        font-size: 1.2em;
    }


    button.deck-btn{
        width: 90px;
        height: 130px;
    }
}

















/* body {
    margin: 0;
    padding: 0;
    background-image: url("img/table.png");
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

#new-deck {
    width: 90px;
    height: 40px;
    margin-top: 5px;
}

#remaining{
    margin-top: 15px;
}


button.draw {
    font-size: 1.2em;
    padding: 5px;
    align-self: stretch;
}

div.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 10px;
}

img.card {
    width: 100%;
    height: 100%;
}

.top {
    display: flex;
    justify-content: center;
}

.top > p {
    margin: 0;
    margin-left: 10px;
}

button:disabled {
    cursor: not-allowed;
}

h2 {
    margin: 10px;
} */